<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="account-wrapper">
        <div class="img-wrapper"><img src="/img/unsplash_C-zgN_LEKb8.png" alt="image"></div>
        <form action="" class="form">
            <p>Welcome 👋</p>
            <h2 class="heading">Create Your Account</h2>
            <div class="firstLast">
                <div class="rg">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" class="firstname">
                </div>
                <div class="lf">
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" class="lastname">
                </div>
            </div>
            <label for="email">Email Address</label>
            <input type="email" placeholder="dom@mail.com">
            <div class="tele-Delivery">
                <div class="rg">
                    <label for="phonenumber">Phonenumber</label>
                    <input type="text" name="phonenumber" class="phonenumber">
                </div>
                <div>
                    <label for="delivery">Delivery Method</label>
                    <select name="delivery" id="dilivery">
                        <option value=""></option>
                        <option value="Motocycle">Motocycle</option>
                        <option value="Delivery Car">Delivery Car</option>
                        <option value="Delivery Truck">Delivery Truck</option>
                    </select>
                </div>


            </div>

            <div class="password-wrapper">
                <input type="password">
                <img src="/Logo/Eye.png" alt="" class="eye">
            </div>

            <a href="#">Already have an account?</a>
            <button class="createacct-btn">Login</button>
        </form>
    </div>
</body>

</html>