<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="reset-wrapper">
        <div class="img-wrapper"><img src="/img/unsplash_C-zgN_LEKb8.png" alt=""></div>
        <form action="" class="form">
            <p>Hey there 👋</p>
            <h2 class="heading">Reset your password</h2>
            <label for="email">Email Address</label>
            <input type="email" placeholder="dom@mail.com">



            <button class="reset-btn">Get Reset Link</button>
            <a href="#" class="back">Go Back</a>
        </form>
    </div>
</body>

</html>